<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Der Förderverein</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Der Förderverein</h1>
        <p class="lead my-4 text-center">Am 1. März 2007 wurde der "Förderverein Bildungsprojekte der Kindertagesstätte
            Sonnenfeld
            e.V." gegründet</p>
        <p class="lead my-4 text-center">In den letzten Jahren wurden zahlreiche Projekte aus den Bereichen Bildung,
            Bewegung, Kunst
            und Musik in
            Zusammenarbeit mit unterschiedlichen Institutionen gefördert:</p>
        <ul class="text-start">
            <li class="lead">
                Tanzen mit der <a class="link-dark" href="https://www.tanzschule-srutek.de/">Tanzschule Srutek</a>
            </li>
            <li class="lead">
                Filzen, Malen, Zeichnen mit der <a class="link-dark" href="https://artefix.de/">Kunstschule Artefix</a>
            </li>
            <li class="lead">
                Mit dem Esel durch den Wald mit <a class="link-dark" href="http://www.maltiz-waldpaedagogik.de/">Maltiz
                Naturerfahrung & Waldpädagogik e.V.</a>
            </li>
            <li class="lead">
                Interkulturelles Ramesch-Projekt "Der Klang Afrikas"
            </li>
            <li class="lead">
                Naturmobil mit Lernstation des Landesverbandes der Jäger
            </li>
        </ul>
    </div>
</div>
</body>
</html>