<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Vorstand</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md" th:each="boardMemberInfo : ${@boardMemberConfig.getBoardMemberInfos()}">
                <div class="card bg-success border-success">
                    <div class="card-body text-center">
                        <div class="card-header my-3" th:text="${boardMemberInfo.getFullName()}"></div>
                        <img src="#" th:src="${boardMemberInfo.getImageFilename()}"
                             class="rounded-circle card-img my-3"
                             alt="..."/>
                        <div class="card-text my-3" th:utext="${boardMemberInfo.getIntroduction()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>