<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Veranstaltungen</title>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div><h1 class="text-center my-3">Veranstaltungen</h1></div>
        <div><h2 class="text-center my-3">in der Kita Sonnenfeld</h2></div>

        <div><h4 class="text-center my-4">Interkultureller Workshop mit Ramesch e.V.</h4></div>

        <div class="col text-center my-3">
            <a th:href="@{http://ramesch.de/}" target="_blank">
                <img class="img-fluid rounded" src="#" alt="..." th:src="@{~/images/rameschLogo.png}">
            </a>
        </div>
        <div class="col my-3">
            <p style="text-align: justify">Ramesch e.V. setzt sich im Saarland seit über 30 Jahren für Integration und
                interkulturelle Begegnungen ein. In unserer heutigen Welt, geprägt durch Globalisierung und Zuwanderung,
                sind interkulturelle Kompetenzen unerlässlich.</p>
            <p style="text-align: justify">
                Seit vielen Jahren bietet Ramesch e.V. erfolgreich interkulturelle Workshops in Kindertageseinrichtungen
                an. Die Workshopleiter repräsentieren jeweils eine „fremde“ Kultur. Durch die persönliche Begegnung mit
                einem Vertreter der anderen Kultur, lernen die Kinder die Diversität unserer Gesellschaft als
                Normalzustand zu empfinden und eine tolerante Grundhaltung zu entwickeln.
            </p>
            <p style="text-align: justify">
                In den Workshops werden alltägliche Dinge der jeweiligen Kultur wie Märchen, Spiele, Basteln, Kochen
                etc. erprobt. Der alltagskulturelle Ansatz zeigt den Kindern, dass trotz aller Fremdheit auch viele
                Gemeinsamkeiten zwischen den Kulturen bestehen. Aus Sicht von Ramesch e.V. ist interkulturelle
                Früherziehung wichtig, um Vorurteilen und Stereotypen entgegenzuwirken und eine Brücke zu anderen
                Kulturen zu bauen. Hier kann der Grundstein für die Entwicklung interkultureller Kompetenzen im Jugend-
                und Erwachsenenalter gelegt werden.
            </p>
        </div>

        <div><h4 class="text-center my-4">Tanzen mit der Tanzschule Srutek</h4></div>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 align-items-center justify-content-evenly">
            <div class="col col-lg-9 col-xl-10">
                <p style="text-align: justify">Für die Kindergartenkinder soll ein Tanzprojekt in Zusammenarbeit mit
                    der Tanzschule Srutek (ausgebildete ADTV Kindertanzlehrer:innen) durchgeführt werden.</p>
                <p style="text-align: justify">Es werden Kreis- und Motivationstänze bekannter Kinderliedermacher
                    getanzt. Die Kinder lernen tänzerische Grundformen, achten spielerisch auf eine gute Haltung,
                    kräftigen
                    und dehnen die Muskeln, haben aktive Entspannungsphasen und erleben mit allen Sinnen Bewegung im
                    kindlichen
                    Erfahrungsraum. Wir unterstützen im Kindergartenalter die Ausbildung von sozialem Verhalten,
                    Sprache und Bewegung. Insbesondere werden das Abnabeln von vertrauten Bezugspersonen, der Abbau
                    von
                    Berührungsängsten und das Stärken des Selbstvertrauens gefördert. Zur Förderung der
                    Konzentration
                    und
                    Genauigkeit sowie der eigenen Kreativität wechseln sich die Tanzfolgen und Rhythmus
                    Kombinationen
                    mit
                    frei improvisierten Tanzphasen ab.</p>
            </div>
            <div class="col col-lg-3 col-xl-2">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-1 align-items-center">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top"
                                 th:src="@{~/images/mirjamSrutek.jpg}"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mirjam Srutek</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top"
                                 th:src="@{~/images/michaelSrutek.jpg}"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Michael Srutek</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"><a class="link-dark" style="font-size: large;font-weight: bold" target="_blank"
                                    href="https://tanzschule-srutek.de">Homepage Tanzschule Srutek</a></div>
    </div>
</div>
</body>
</html>