<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Flohmarkt</title>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-between align-items-center text-center">
            <div class="col-md my-3">
                <img src="#" th:src="@{~/images/flohmarktPoster2023Web.jpeg}" class="w-50 rounded-2" alt="...">
            </div>
            <div class="col-md my-3">
                <div class="row">
                    <div class="col-md text-center my-3">
                        <span style="font-size: large;font-weight: bold;color: darkorange" th:text="'Schön wars'"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center my-3">
                        <a th:href="@{~/images/flohmark2023.jpg}">
                            <img class="img-fluid w-75" th:src="@{~/images/flohmark2023_72dpi.jpg}" src="#" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>