<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Impressum</title>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="text-center">
            <h1>Impressum</h1>
            <p class="lead my-4" th:text="${@config.getAssociationName()}"></p>
            <p class="lead my-4" th:utext="${@config.getAssociationAddress()}"></p>
            <p class="lead my-4" th:text="${@config.getImprintRepresentative()}"></p>
            <p class="lead my-4">
                <a class="link-dark" th:href="'mailto:'+ ${@config.getContactEMail()}"
                   th:text="${@config.getContactEMail()}"></a>
            </p>
            <p class="lead my-4" th:text="'Registernummer ' + ${@config.getRegisterNumber()}"></p>
            <p class="lead my-4">
                <a class="link-dark" href="http://www.evpfalz.de/werke/kita-sonnenfeld/" target="_blank">Web Präsenz
                    Kita Sonnenfeld</a>
            </p>
            <p class="lead my-4">
                <a class="link-dark" target="_blank"
                   href="https://www.homburg.de/index.php/stadtprofil/familie-und-soziales/kinderbetreuung/kindertageseinrichtungen/prot-kindertagesstaette-sonnenfeld">
                    Eintrag Kita Stadt Homburg
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>