<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Start</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md align-items-center my-3">
                <img class="img-fluid w-75" th:src="${@config.getAssociationLogo()}" src="#" alt="...">
            </div>
            <div class="col-md align-items-center my-3">
                <h1>Der Förderverein</h1>
                <p class="lead my-4">Wir machen es möglich.</p>
                <button class="btn btn-warning btn-lg">
                    <a class="link-dark fw-bold" th:href="@{/support}">Mach mit!</a>
                </button>
            </div>
            <div class="col-md align-items-center my-3">
                <img class="img-fluid w-75" th:src="${@config.getKindergartenLogo()}" src="#" alt="...">
            </div>
        </div>
    </div>
</div>
</body>
</html>