<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Start</title>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md align-items-center my-3">
                <img class="img-fluid w-75" th:src="@{'~/images/' + ${associationEmblemFilename}}" src="#" alt="...">
            </div>
            <div class="col-md align-items-center my-3">
                <h1>Der Förderverein</h1>
                <h4>der Kindertagesstätte Sonnenfeld</h4>
                <p class="lead my-4">Wir machen es möglich.</p>
                <button class="btn btn-warning btn-lg">
                    <a class="link-dark fw-bold" th:href="@{/support}">Mach mit!</a>
                </button>
                </br>
                <button class="btn btn-info btn-lg my-4">
                    <a class="link-dark fw-bold" th:href="@{/flohmarkt}">!!! Flohmarkt !!!</a>
                </button>
            </div>
            <div class="col-md align-items-center my-3">
                <img class="img-fluid w-75" th:src="@{'~/images/' + ${kindergartenEmblemFilename}}" src="#" alt="...">
            </div>
        </div>
    </div>
</div>
</body>
</html>