<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Flohmarkt Anmeldungen</title>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-borderless table-striped">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">E-Mail</th>
                    <th class="text-center">Kommentar</th>
                    <th class="text-center">Gebührwertstellung</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="eventRegistrationModel : ${eventRegistrationModels}">
                    <td class="text-start"><span th:text="${eventRegistrationModel.fullName()}"></span></td>
                    <td class="text-start"><span th:text="${eventRegistrationModel.email()}"></span></td>
                    <td class="text-start"><span th:text="${eventRegistrationModel.comment()}"></span></td>
                    <td class="text-center">
                        <span th:text="${eventRegistrationModel.feeValuationDate()}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>